.list {
    font-family: 'Philosopher', sans-serif;
}

.breadcrum {
    text-transform: capitalize;
}

.title {
    padding-top: 20px;
    text-align: center;
    font-size: 60px;
    font-weight: 500;
    color: #af8c3c;
    font-family: 'Pinyon Script', cursive;
    text-transform: capitalize;
    padding-bottom: 10px;
}

hr {
    width: 200px;
    margin: 0 auto;
}

.total-records {
    color: #af8c3c;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 1px;

}

.sort_options {
    display: flex;
    align-items: center;

}

.sort_text {
    width: 200px;
    text-align: end;
}

.total-records span {
    font-weight: 600;
}

.form-select:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    border: none;
}

.form-select {
    border: none;
    cursor: pointer;
    width: 75%;
}

.list_body {
    background: #fdf0e2;
}

.filters_data,
.list-data {
    padding: 20px 30px;
}

.sub_title {
    text-transform: uppercase;
    font-weight: 500;
    color: #af8c3c;
    font-size: 20px;
    letter-spacing: 1px;
}

.card-title {
    font-size: 18px;
    text-align: center;

}

p.card-title {
    width: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card {
    padding: 10px;
    --bs-card-border-color: none;
    --bs-card-bg: transparent;
    --bs-card-inner-border-radius: none;
}

.card:hover {
    --bs-card-bg: #fff;
    color: #a07001;
    cursor: pointer;
}








.left_nav {
    padding: 20px;
}

.filter_list {
    list-style: none;
}

li {
    list-style: none;
}

.filter_list li {
    padding-left: -20px;
}

.filter_list li>.filter_btn {
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    color: #000;
    letter-spacing: 1px;
    font-weight: 600;
    border: none;
    background: transparent;
    width: 240px;
    text-align: start;

}

.filter_data {
    padding: 0 0 30px 35px;
}